*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(rgba(30,60,114,.8),
rgba(42,82,152,.8)),
url("/images/homebg.jpg");

background-size:cover;

background-position:center;

}

.card{

width:500px;

background:white;

padding:40px;

border-radius:15px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.icon{

font-size:70px;

margin-bottom:20px;

}

h1{

color:#28a745;

margin-bottom:20px;

}

.details{

margin:25px 0;

text-align:left;

}

.details p{

margin-bottom:12px;

font-size:17px;

}

.buttons{

display:flex;

justify-content:space-between;

margin-top:30px;

}

button{

padding:14px 22px;

border:none;

border-radius:8px;

cursor:pointer;

background:linear-gradient(135deg,#1E3C72,#2A5298);

color:white;

font-size:16px;

}

.second{

background:#28a745;

}
