*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(rgba(20,40,90,0.75),
    rgba(20,40,90,0.75)),
    url("/images/homebg.jpg");

    background-size:cover;

    background-position:center;

}

.container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,0.25);

    text-align:center;

}

.card h1{

    color:#1E3C72;

    margin-bottom:10px;

}

.card h2{

    margin-bottom:20px;

}

.card p{

    color:gray;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:1px solid lightgray;

    border-radius:8px;

    font-size:16px;

}

input:focus{

    outline:none;

    border:1px solid #1E3C72;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:linear-gradient(135deg,#1E3C72,#2A5298);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:0.3s;

}

button:hover{

    transform:translateY(-2px);

}
